[cd]
{{ if not (lookPath "fish") }}# {{ end -}}
command = "fish"

[diff]
{{ if not (lookPath "diff-so-fancy") }}# {{ end -}}
pager = "diff-so-fancy"

[data]
home = {{ .chezmoi.homeDir | quote }}

{{ if lookPath "jj" -}}
[update]
command = "jj"
args = ["git", "fetch"]
{{ end -}}
