{{ if lookPath "fish" -}}
[cd]
command = "fish"
{{ end -}}

{{ if lookPath "diff-so-fancy" -}}
[diff]
pager = "diff-so-fancy"
{{ end -}}

[data]
home = {{ .chezmoi.homeDir | quote }}

{{ if lookPath "jj" -}}
[update]
command = "jj"
args = ["git", "fetch"]
{{ end -}}
