[cd]
    command = "fish"

[diff]
    pager = "diff-so-fancy"

[merge]
    command = "code"
    args = [
        "--wait",
        "--new-window",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}",
    ]

[data]
    home = {{ .chezmoi.homeDir | quote }}
