[credential "https://github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[credential "https://gist.github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[init]
	defaultBranch = main
[user]
	email = cenviity@gmail.com
	name = Vincent Ging Ho Yim
[core]
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[diff]
	tool = vscode
	colorMoved = dimmed-zebra
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	conflictstyle = diff3
[mergetool "vscode"]
	cmd = code --wait --merge $MERGED
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
