[credential "https://github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[credential "https://gist.github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[init]
	defaultBranch = main
[user]
	email = cenviity@gmail.com
	name = Vincent Ging Ho Yim
[alias]
	cm = commit -m
	s = status
	d = diff
	dc = diff --cached
	sh = show
	ps = push
	l = log
	cam = commit -am
	a = add
[core]
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
