[credential "https://github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[credential "https://gist.github.com"]
	{{- if eq .chezmoi.hostname "DSDU-Vincent-Yim" }}
	helper =
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.32.1/bin/gh auth git-credential
	{{- end }}
[init]
	defaultBranch = main
[user]
	email = cenviity@gmail.com
	name = Vincent Ging Ho Yim
[alias]
	a = add
	c = commit
	cam = commit -am
	cm = commit -m
	d = diff
	dc = diff --cached
	l = log
	ps = push
	s = status
	sh = show
[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[diff-so-fancy]
	stripLeadingSymbols = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
