"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Vincent Ging Ho Yim"
email = "cenviity@gmail.com"

[ui]
default-command = "log"
# diff.format = "git"
{{- if lookPath "difft" }}
diff.tool = "difft"
{{- end }}
diff-editor = ":builtin"
merge-editor = "vscode"
# pager = "delta"
# pager = ["less", "-FRX"]
pager = ":builtin"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]
diff-invocation-mode = "file-by-file"

[hints]
resolving-conflicts = false

[colors]
# Highlight hunks with background
"diff removed token" = { bg = "#221111", underline = false }
"diff added token" = { bg = "#002200", underline = false }

[revset-aliases]
# See https://github.com/jj-vcs/jj/blob/main/cli/src/config/revsets.toml
default = "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"

[aliases]
ci = ["commit"]
nc = ["next", "--conflict"]
pc = ["prev", "--conflict"]
rb = ["rebase"]
sq = ["squash"]

[template-aliases]
# "format_short_signature(signature)" = "signature.username()"

[gg.ui]
theme-override = "dark"
