if status is-interactive
    # Commands to run in interactive sessions can go here

    # Add Brew to $PATH
    eval "$({{ output "which" "brew" | trim }} shellenv)"

    # Customise shell prompt
    oh-my-posh init fish --config '~/.mytheme.omp.json' | source

    # Reuse Bash aliases
    source ~/.bash_aliases

    # Python venv
    alias v='source .venv/bin/activate.fish'
    alias vv='pushd (pwd); ..; v; popd'
    alias cz='chezmoi'

    # Abbreviations
    abbr --add dotdot --regex '^\.{2,}$' --function multicd

    # Initiate pyenv
    {{- if output "which" "pyenv" }}
    pyenv init - | source
    {{- end }}
end
