fish_add_path {{ .home }}/.local/bin {{ .home }}/bin

{{ if contains "cenvii" .chezmoi.hostname -}}
# Add Brew to $PATH
fish_add_path /opt/homebrew/bin

# Add `gg` to $PATH
fish_add_path /Applications/gg.app/Contents/MacOS/
{{- else if contains "DSDU" .chezmoi.hostname -}}
# Add Brew to $PATH
eval "$({{ output "which" "brew" | trim }} shellenv)"
{{- end }}

# Add `sphinx-doc` to $PATH
fish_add_path /opt/homebrew/opt/sphinx-doc/bin

# Set environment variables
set -gx PAGER bat
set -gx VISUAL "code --wait"

if status is-interactive
    # Commands to run in interactive sessions can go here

    # Disable default fish greeting
    set -g fish_greeting

    # Initiate atuin
    if type -q atuin
        set -gx ATUIN_NOBIND true
        atuin init fish | source

        # atuin: Bind to ctrl-r in normal and insert mode, add any other bindings you want here too
        bind \cr _atuin_search
        bind -M insert \cr _atuin_search
    end

    # Initiate zoxide
    if type -q zoxide
        set -gx _ZO_ECHO 1 # Print the matched directory before navigating to it
        zoxide init fish | source
    end

    # Initiate uv
    if type -q uv
        # Completions
        uv generate-shell-completion fish | source
        uvx --generate-shell-completion fish | source
    end

    # Initiate Jujutsu
    if type -q jj
        # Static completions
        # jj util completion fish | source

        # Dynamic completions
        COMPLETE=fish jj | source
    end

    # Disable Python virtual environment name being shown (shown with oh-my-posh instead)
    set -gx VIRTUAL_ENV_DISABLE_PROMPT 1

    # Customise shell prompt
    oh-my-posh init fish --config '~/.mytheme.omp.json' | source
end
